* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #4C248A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20%;
    background-color: white;
    border-radius: 15px;

}

.card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 22rem;
    text-align: center;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
}

.info {
    padding: 15px;
    gap: px;
    display: flex;
    flex-direction: column;
}

#iconCard {
    cursor: pointer;
}

.heart-icon {
    margin-top: 2%;
    width: 32px;
    height: 32px;
}


.info h1 {
    width: auto;
    font-size: 120%;
    margin-bottom: 5px;
    color: #4C248A;
}

.info p {
    width: 70%;
    font-size: 16px;
    color: gray;
}

