button {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000; 
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
}

