* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", serif;
    font-family: "Poppins", serif;
}

.container {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 1.3rem;
    background-image: url("https://github.com/Majorosas16/ProyectoAlgoritmos/blob/main/src/Recursos/Join%20Us%20(1).png?raw=true");
}

.form-section {
    background-color: white;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    border-radius: 2rem;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000; 
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000; 
}

.img-logo {
    margin-top: 2rem;
    text-align: center;
}

.logo-img {
    width: 18rem; 
    height: auto; 
}

h1.titulo {
    font-size: 36px;
    color: #5D3B94;
    text-align: center;
    font-weight: 650;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 24rem;
}

input[type="email"], input[type="password"], input[type="text"] {
    padding: 0.5rem; 
    border-left: 2px solid #000000;
    border-top: 2px solid #000000; 
    border-bottom: 4px solid #000000; 
    border-right: 4px solid #000000; 
    border-radius: 0.8rem; font-size: 1rem; 
    width: 100%;
}

.register {
    padding: 1rem;
    bottom: 7rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    color: #5D3B94;
    border: none;
    font-weight: 700;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000; 
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000; 
}

.register:hover {
    background-color: #794adf;
}

.icons-container {
    display: flex;
    justify-content: center; 
    flex-direction: row;
    gap: 1rem; 
    margin: 20px 0;
}

.icon {
    width: 40px;
    height: 40px;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000; 
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000; 
    display: flex;
    background-color: #ffffff;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 2rem;
}

.responsive-image-container {
    display: none;
}

/* Estilos responsive */
@media (max-width: 768px) {

    .responsive-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -7%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .responsive-image {
        width: 90vw;
        height: 70vh;
        object-fit: fill;
    }

    .overlay-image-container {
        position: absolute;
        top: 78%;
        left: 45%;
        transform: translate(-50%, -50%);
        z-index: 1; 
        align-items: center;
    }
    
    
    .overlay-image {
        width: 38vw;
        height: auto; 
        object-fit: contain; 
    }

    .img-logo {
        display: none;
    }
    
    .img-back-section {
        display: none;
    }

    
    .remember-container {
        display: none;
    }

    
    .divider-container, .divider {
        display: none;
    }

    
    .question {
        display: none;
    }

    
    .form-section {
        width: 100%;
    }

    .form-section {
        width: 100%;
    }

    .container {
        background: linear-gradient(to bottom, #fdfdfd0a, #522884);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        padding: 1.3rem;
    }
    .form-section {
        background: linear-gradient(to bottom, #fdfdfd0a, #522884);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.3rem;
    }

    h1.titulo {
        font-size: 36px;
        color: #ffffff;
        margin-right: 17rem;
        margin-bottom: 20px;
        text-align: center;
    }

    
    .or-sign-in {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        white-space: nowrap; 
    }

}