*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}

btn-component{
    transition: all .3s;
}

btn-component:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

body {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #D0B6F1;
    border-bottom: 2px solid black;
}

.sec{
    gap: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    transition: all .3s;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.logo-img {
    height: 70px;
}

.nav-buttons {
    display: flex;
    gap: 9%;
    transition: all .3s;
}

.profile{
    width: fit-content;
    display: flex;
    align-items: end;
    justify-content: end;
    transition: all .3s;
    cursor: pointer;
}

.profile:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.profile-img {
    width: 40%;
    border-radius: 50%;
    border: 2px solid black;
}

/* Ocultar el nav normal en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    .nav-buttons {
        display: none;
    }
}
