body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80%; /* Cambia el ancho del carrusel, ajusta según tus necesidades */
    height: 60vh; /* Cambia el alto del carrusel, ajusta según tus necesidades */
}

#img {
    max-width: 100%; /* La imagen ocupará el 100% del ancho del carrusel */
    max-height: 60vh; /* La imagen no excederá el 60% del viewport height */
    box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.75);
    border-radius: 2rem; /* Reduce un poco el radio para mantener la proporción */
    margin: 1rem;
    object-fit: cover;
    filter: saturate(115%);
}

#texto {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.puntos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p {
    font-size: 50px; /* Ajusta el tamaño del texto de los puntos */
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold {
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 10, 255);
}
