
.carousel {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 75vh; 
    position: relative; 
}

.atras, .adelante {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
}

.atras {
    left: -30%; 
}

.adelante {
    right: -30%; 
}

.imagenes img {
    max-width: 150%; 
    max-height: 500px; 
    object-fit: cover; border-radius: 15px; 
}

.puntos {
    position: absolute;
    bottom: -4%; 
    width: 100%;
    text-align: center;
}

.puntos p {
    display: inline-block;
    margin: 0 5px;
    font-size: 5rem; 
}

.bold {
    font-weight: bold;
    color: purple;
}
