* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


.container {
    background-color: #946CC4;
    width: 100vw;
    height: 80vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 3rem;
}

.titulo {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
}

#Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.organize{
    display: flex;
    
}

div p {
    color: #ffffff;
    font-weight: 200;
    grid-column: span 2;
    text-align: left;

}

div input[type="text"],
div input[type="number"],
div input[type="file"],
div textarea {
    padding: 1rem;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    border-radius: 0.8rem;
    font-size: 1rem;
    width: 80%;
    margin-bottom: 1rem;

}

#rating {
    grid-column: span 2;
}

#photo {
    background-color: #ffffff;
    grid-column: span 2;
}

#title, #name, #rating, #photo {
    grid-column: 1 / 2; 
    
}

#review {
    grid-column: 2 / 3; 
    grid-row: 1 / span 4; 
    padding: 1rem;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    border-radius: 0.8rem;
    font-size: 1rem;
    height: 20rem; 
    width: 100%;
    text-align: start;

    /* Para manejar texto largo */
    word-break: break-word;
    overflow-wrap: break-word;
    resize: none; /* Evita que el usuario pueda cambiar el tamaño manualmente */
    white-space: pre-wrap; /* Mantiene los saltos de línea y envuelve texto */
    overflow-y: auto; /* Agrega un scroll vertical si el contenido excede la altura */
}



#submitButton {
    grid-column: span 2;
    padding: 1rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: #ffffff;
    color: #5D3B94;
    border: none;
    font-weight: 700;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000; 
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
}

#submitButton:hover {
    background-color: #794adf;
}

@media (max-width: 768px) {
    div {
        grid-template-columns: 1fr; 
    }
div p {
    color: #ffffff;
    font-weight: 200;
    grid-column: span 2;
    text-align: left;
}
div input[type="text"],
div input[type="number"],
div input[type="file"],

div textarea {
    padding: 1rem;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    border-radius: 0.8rem;
    font-size: 1rem;
    width: 90%;
    margin-bottom: 1rem;
}
#title, #name, #rating, #photo {
    grid-column: 1 / 2;
}
#review {
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    padding: 1rem;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    border-radius: 0.8rem;
    font-size: 1rem;
    height: 20rem;
    width: 100%;
}
#review {
    grid-column: 1 / 2;
    grid-row: auto;
    height: 10rem;
}
#submitButton {
    grid-column: span 2;
    padding: 1rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: #ffffff;
    color: #5D3B94;
    border: none;
    font-weight: 700;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    margin-bottom: 5rem;
}
#submitButton:hover {
    background-color: #794adf;
}
.navbar-large {
    display: none;
}
.responsive-navbar {
    display: flex; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #D5BEF1;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    box-sizing: border-box;
}
/* Espaciado entre los botones */
.responsive-navbar button {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: none;
    background-color: transparent; 
    color: #522884;
    font-size: 16px;
    position: relative;
    margin: 0 10px; 
}
.responsive-navbar button::before {
    content: ''; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; 
    height: 50px; 
    background-color: #ffffff; 
    border-radius: 50%;
    z-index: -1;
    border: 2px solid black; 
}
.responsive-navbar svg {
    width: 24px;
    height: 24px;
    justify-content: center;
    display: flex;
    align-items: center;
}
#create {
    color: #522884;
}
.responsive-navbar img.profile-img {
    width: 40px;
    height: 40px;
    border: 2px solid black; 
    border-radius: 50%;
    object-fit: cover;
}
}
@media (min-width: 769px) {
    .responsive-navbar {
        display: none !important;
    }
}
